html {
	box-sizing: border-box;
	background: #f3f5f4;
	
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
  }

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.toolbar {
	min-width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input.search {
	margin-bottom: 20px;
	margin-right: 5px;
	text-align: center;
	outline: 0;
	border: 2px solid #F7F7F7;
	width: 100%;
	position: relative;
	top: 10px;
	z-index: 2;
	border-radius: 2px;
	font-size: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.page-size-dropdown{
	background-color: white;
	border: 1px solid #90342b;
	border-radius: 2px;
}

.t-city {
	display: block;
	border-collapse: collapse;
}
th{
background-color: #90342b;
}

tr {
	padding: 5px 10px;
	border: solid 1px gray;
}

tr:nth-child(even) {
	background-color: #d2694c;
}

th,
td {
	padding: 5px;
	text-align: left;
}

th:hover {
	background-color: orange;
	cursor: pointer;
}

.active {
	background-color: #c0855d;
}

.asc:before {
	content: ">";
}

.desc:before {
	content: "<";
}

.table-heading:before {
	content: "<>";
}

.table-heading.asc:before {
	content: "<";
}

.table-heading.desc:before {
	content: ">";
}

.table-heading:active {
	transform: scale(1.1);
}

.hidden {
	visibility: hidden;
}

.table-footer {
	min-width: 500px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.table-footer button {
	cursor: pointer;
	font-size: 15px;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}
.page-button:focus,
.page-button:active:focus {
    outline: thin dotted;
    outline: 5px auto;
    outline-offset: -2px;
}
.page-button:hover,
.page-button:focus {
    color: #333;
    text-decoration: none;
}

.table-page-number {
	padding: 15px;
	cursor: pointer;
}